{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}
<div class="dados">
    <img src="{{ url_for('static', filename='images/livros_foto.jpg')}}" alt="books" width="200" height="200">
    <h1>Book</h1>
    <br>

    <button id="edit" type="button" {{butshow}} onclick="window.location.href = '/book?option=edit'" class="button1">Edit</button>
    <button id="delete" type="button" {{butshow}} onclick="window.location.href = '/book?option=delete'" class="button1">Delete</button>
    <button id="insert" type="button" {{butshow}} onclick="window.location.href = '/book?option=insert'" class="button1">Insert</button>
    <button id="cancel" type="button" {{butedit}} onclick="window.location.href = '/book?option=cancel'" class="button1">Cancel</button>
    <button id="exit" type="button" {{butshow}} onclick="window.location.href = '/book?option=exit'" class="button1">Exit</button>

    <br><br>
    <form id="form" action="/book?option=save" method="post">
        <label for="id">Id:</label>
        {% if butedit == 'enabled' %}
            <input type="text" disabled id="id" name="id" value="{{id}}" size="5"/>
        {%else%}
            <input type="text" {{butedit}} id="id" name="id" value="{{id}}" size="10"/>
        {%endif%}
        <br><br>

        <label for="title">Title:</label>
        <input type="text" {{butedit}} id="title" name="title" value="{{title}}" size="30"/>
        <br><br>

        <label for="author">Author:</label>
        <input type="text" {{butedit}} id="author" name="author" value="{{author}}" size="10"/>
        <br><br>

        <label for="genre">Genre:</label>
        <input type="text" {{butedit}} id="genre" name="genre" value="{{genre}}" size="10"/>
        <br><br>

        <label for="publisher_id">Publisher_Id:</label>
        <input type="text" {{butedit}} id="publisher_id" name="publisher_id" value="{{publisher_id}}" size="10"/>
        <br><br>

        <button id="save" type="submit" class="button1" {{butedit}}>Save</button>
    </form>
    <br>

    <button id="first" type="button" {{butshow}} onclick="window.location.href = '/book?option=first'" class="button1">First</button>
    <button id="previous" type="button" {{butshow}} onclick="window.location.href = '/book?option=previous'" class="button1">Previous</button>
    <button id="next" type="button" {{butshow}} onclick="window.location.href = '/book?option=next'" class="button1">Next</button>
    <button id="last" type="button" {{butshow}} onclick="window.location.href = '/book?option=last'" class="button1">Last</button>
</div>
{% endblock %}
