<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library PCII</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/book">Book</a></li>
                    <li><a class="button" href="/gform/Member">Member</a></li>
                    <li><a class="button" href="/gform/Publisher">Publisher</a></li>
                    <li><a class="button" href="/gform/Requisition">Requisition</a></li>
                    <li><a class="button" href="/UserLogin">Users</a></li>
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>